//
//  Config.xcconfig
//  DO_SOPT_33_Assignment
//
//  Created by 정채은 on 11/13/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = https:/$()/api.openweathermap.org/data/2.5/weather?
API_KEY = 8d2815b64560f6444f9c650d94717a39

